VITE_SUPABASE_URL=https://djerxbbkeyzziouocjns.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRqZXJ4YmJrZXl6emlvdW9jam5zIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQxNzAwODAsImV4cCI6MjA4OTc0NjA4MH0.ky4DrTaQhE7YkY86FzAksW_8t24RBpyOTh1d-jRlFi8
