SUPABASE_URL=https://djerxbbkeyzziouocjns.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRqZXJ4YmJrZXl6emlvdW9jam5zIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQxNzAwODAsImV4cCI6MjA4OTc0NjA4MH0.ky4DrTaQhE7YkY86FzAksW_8t24RBpyOTh1d-jRlFi8
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRqZXJ4YmJrZXl6emlvdW9jam5zIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDE3MDA4MCwiZXhwIjoyMDg5NzQ2MDgwfQ.taoQJXNZkb9k68MrEk53aSe_H8J6y_AWN9jmUlJBdSQ
SUPABASE_JWT_SECRET=6ZqyvSRxsH72Z+Wh3F5tPs3e+2gwtBzL/VxdmMMjvtRHTbHvCNmICwsaPmffKdDY1UjfSDqJYLS5yj6ZHknuTA==
FLASK_SECRET_KEY=6ee5ae502d513ea30660f29c8215d7eecd9395b60a7ebbfb537ec3cbb005bfbf
FLASK_ENV=development
OBLVN_DRY_RUN=0
OBLVN_VERIFY_BASE_URL=http://localhost:5173
OBLVN_DATA_DIR=~/.oblvn
OTS_CALENDAR_URL=https://alice.btc.calendar.opentimestamps.org
AUTH_RATE_LIMIT=20
